<h1>Whisker Web Shell</h1>

Mock job server for Whisker. Following routes available.

<h3>GET <a href="/jobs">/jobs</a></h3>

List of jobs that should be consumed by whisker.

<h3>POST /heartbeat</h3>

Send heartbeat data to this routes.
