<h1>Whisker Web Shell</h1>

Mock job server for Whisker. Following routes available.

<h3>GET <a href="/jobs">/jobs</a></h3>

List of available jobs that should be consumed by whisker.

<h3>GET <a href="/jobs/all">/jobs/all</a></h3>

List of all jobs stored on server.

<h3>GET <a href="/nodes">/nodes</a></h3>

List of nodes observed by this job server. With stats received from heartbeat data.

<h3>POST /heartbeat</h3>

Send heartbeat data to this routes.
